.O {fill:#9ecae1;}
.T {fill:#3182bd;}

.one {background-color:#9ecae1;}
.two {background-color:#3182bd;}

html {
	height:100%;
	width:100%;
	position:relative;
	margin  : 0;
    padding : 0;
}
#map > svg > g.rivers {
	fill: none;
	stroke: #4e4c4d;
	stroke-width: 3px;
}

#wrapper{
	max-width:800px;
}
.precinct{
	fill:none;
}

body {
	height:100%;
	width:100%;
	position:relative;
}

#mapwrapper {
	position: relative;
	height:100%;
}

#wrapper {
	position: relative;
	height:100%;
	width:100%;
}

.box{
	border:1px solid #4e4c4d;
}

.overlay {
  fill: none;
  pointer-events: all;
}

#map > svg > g > g.coastlines {
fill: none;
stroke: gray;
}

#byline{
		position: absolute;
		bottom: -1%;
		z-index: 6;
		right: 0px;
		width: 100%;
}

.selected { font-weight: bold }

.bold { font-weight: bold }

.selectedmap { font-weight: bold }

.ward{
	fill:none;
	stroke:white;
}

.votetotal {
font-size:1em;
float: none !important;
}

.racetitle{
	font-size: .85em;
}

#citywidesummary > ul {
padding-left: 0%;
}

.button {
float: left;
margin-right: 1.5%;
margin-left: 1.5%;
border: 1px solid black;
border-radius: 3px;
padding: .75%;
width: 13%;
font-size: 90%;
height: 100%;
}

table {
width: 100%;
}
.button_title{
	font-weight: bold;
	height: 50%;
	margin-bottom: 5%;
}

.summary {
margin-bottom:5px;
height: 100%;
}

div.votes {
margin-top: 3%;
}

#lastupdate{
	font-style:italic;
	font-size: .75em;
}

#racetitle{
	
}

#councilcsummary{
	border-top:1px solid #4e4c4d;
}

.fulllwidth{
	width: 100%;
}

#buttons{
	font-family:'Helvetica';
	color: #4e4c4d;
	font-size: 80%;
	height: 25%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 3%;
}

#map > svg > g.coastlines {
	fill: none;
}
#map > svg > g {
	stroke: #4e4c4d;
}

#results{
	width:25%;
	height: 85%;
	margin-top: 7%;
	position:absolute;
	font-family:'Helvetica';
	z-index: 5;
	color: #4e4c4d;
	font-size: 80%;
	border-left: none;
	border-bottom: none;
	border-top: none;
}

.bylinetext{
	color: #4e4c4d;
	font-size: 50%;
	font-family: 'Helvetica';
}

li {
    margin-left:0px;
}

.square{
	height: 10px;
	width: 10px;
	float: left;
	position: relative;
}


#pctreporting-citywide{
	font-style: italic;
	font-size: .65em;
	color: #464445;
}

.big-button {
width: 20%;
}

div.pctreporting {
	font-style: italic;
	font-size: .85em;
	color: #464445;
	float:none;
	margin-left: 3%;
}

#map > svg > g {
	stroke:black;
}

li { /* styles all li elements*/
    list-style-type: none;
}
.tipsy { font-size: 10px; position: absolute; padding: 5px; z-index: 100000; }
  .tipsy-inner { background-color: #000; color: #FFF; max-width: 200px; padding: 5px 8px 4px 8px; text-align: center; }

  /* Rounded corners */
  .tipsy-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
  
  /* Uncomment for shadow */
  /*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*/
  
  .tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }
  
  /* Rules to colour arrows */
  .tipsy-arrow-n { border-bottom-color: #000; }
  .tipsy-arrow-s { border-top-color: #000; }
  .tipsy-arrow-e { border-left-color: #000; }
  .tipsy-arrow-w { border-right-color: #000; }
  
	.tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
    .tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
    .tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
  .tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
  .tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
  .tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }

/*# sourceMappingURL=app.css.map*/