<!doctype html>

<body>

  <div>

{% if docs %}
{% for doc in docs %}
<div id="{{doc.id}}" class="contract-container">
  <p class="contract-title contract">{{ doc.title }}</p>
  <p class="contract-description contract">{{ doc.description }}</p>
  {% if doc.mentions %}
  {% for mention in doc.mentions %}
   {{ data|safe }}
   <div class="mention-text contract"><div class="page">Page {{ mention.page }}</div>  | {{ mention.text | safe }} </div> <br><br>
   {% endfor %}
  {% endif %}
</div>
{% endfor %}
{% else %}
    <p>No contracts found.</p>
{% endif %}


</body>