<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>

    <link rel="stylesheet" type="text/css" href='{{ url_for('static', filename='css/jquery-ui.css') }}'>
    <link rel="stylesheet" type="text/css" href='{{ url_for('static', filename='css/demo.css') }}' />
    <link rel="stylesheet" type="text/css" href='{{ url_for('static', filename='css/elastislide.css') }}'/>
    <link rel="stylesheet" type="text/css" href='{{ url_for('static', filename='css/tipsy.css') }}'/>

    <style>
    @import url(//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.2/leaflet.css);
    </style>

</head>

<body>

<div id="dialog" title="Dialog"></div>

<div id="mapholder">
<p id="map">
<div id="buttons">

</div>

<div id="blightbuttons"> 
    <div id="radio">
      <ul>
       <li><span class="square" id="sheriff_label"></span><div class="legend_text">Sheriff Sold</div></li>
       <li><span class="square"  id="nora_label"></span><div class="legend_text">NORA Sold</div></li>
       <li><span class="square"  id="fixed_label"></span><div class="legend_text">Repaired</div></li>
       <li><span class="square"  id="demo_label"></span><div class="legend_text">Demolished</div></li>
       <li><span class="square"  id="lens_label"></span><div class="legend_text">Lens Investigates</div></li>
      </ul>
    </div>
</div>

<div id="photopane">
    <ul id="carousel" class="elastislide-list">
      <li><a class="thumbnail" href="3306_PALMYRA_ST" id="1">
        <img src='{{ url_for('static', filename='images/thumbnails/3306_PALMYRA_ST.jpg') }}'/></a>
                     <p class="caption">
                  <span id="1_caption">Rainbow and Tree</span>
                  </p>
      </li>
            <li><a class="thumbnail" href="2336_ST_LOUIS_ST" id="2">
                  <img src='{{ url_for('static', filename='images/thumbnails/2336_ST_LOUIS_ST.jpg') }}' /></a>
                  <p class="caption">
                  <span id="1_caption">Rainbow and Tree</span>
                  </p>
            </li>
            <li><a class="thumbnail" href="1932_IBERVILLE_ST" id="3">
              <img src='{{ url_for('static', filename='images/thumbnails/1932_IBERVILLE_ST.jpg') }}'/></a>
                  <p class="caption">
                  <span id="2_caption">Rainbow and Tree</span>
                  </p>
            </li>
            <li><a class="thumbnail" href="1832_GORDON_ST" id="4"><img src='{{ url_for('static', filename='images/thumbnails/1832_GORDON_ST.jpg') }}'  /></a>                <p class="caption">
                  <span id="3_caption">Rainbow and Tree</span>
                  </p>
                </li>
            <li><a class="thumbnail" href="2825_BANKS_ST" id="5"><img src='{{ url_for('static', filename='images/thumbnails/2825_BANKS_ST.jpg') }}' /></a>                <p class="caption">
                  <span id="4_caption">Rainbow and Tree</span>
                  </p>
                </li>
            <li><a class="thumbnail" href="305_HOMER_ST" id="6"><img src='{{ url_for('static', filename='images/thumbnails/305_HOMER_ST.jpg') }}' /></a>                <p class="caption">
                  <span id="5_caption">Rainbow and Tree</span>
                  </p>
                </li>
            <li><a class="thumbnail" href="168_DANNY_DR" id="7"><img src='{{ url_for('static', filename='images/thumbnails/168_DANNY_DR.jpg') }}' /></a>                <p class="caption">
                  <span id="6_caption">Rainbow and Tree</span>
                  </p>
                </li>
            <li><a class="thumbnail" href="5439_EADS_ST" id="8"><img src='{{ url_for('static', filename='images/thumbnails/5439_EADS_ST.jpg') }}' /></a>                <p class="caption">
                  <span id="7_caption">Rainbow and Tree</span>
                  </p>
                </li>
            <li><a class="thumbnail" href="10130_DREUX_AVE" id="9" ><img src='{{ url_for('static', filename='images/thumbnails/6394_MILNE_BLVD.jpg') }}' /></a>                <p class="caption">
                  <span id="8_caption">Rainbow and Tree</span>
                  </p>
                </li>
            <li><a class="thumbnail" href="6006_WILTON_DR" id="10"><img src='{{ url_for('static', filename='images/thumbnails/6006_WILTON_DR.jpg') }}' /></a>                <p class="caption">
                  <span id="9_caption">Rainbow and Tree</span>
                  </p>
                </li>
          </ul>
</div>

    <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.5/d3.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script type="text/javascript" src='{{ url_for('static', filename='js/tipsy.js') }}'></script>
    <script type="text/javascript" src='{{ url_for('static', filename='js/modernizr.custom.17475.js') }}'></script>
    <script type="text/javascript" src='{{ url_for('static', filename='js/jquery.elastislide.js') }}'></script>
    <script type="text/javascript" src='{{ url_for('static', filename='js/blight.js') }}'></script>

</body>


